<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Система тестирования студентов</h1>
        <p class="lead"> Наша система помогает вам оценить знания студента</p>
    </div>
</header>