@model Diplom.ViewModels.LoginModel


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
<div class="p-4">

    <h2>Вход</h2>
</div>
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="p-4" >
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="main-form">
            <div class="form-group">
                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user-circle"></i>
                            </div>
                        </div>
                        <input asp-for="Login" required placeholder="Логин" />
                        <span asp-validation-for="Login" />
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <input asp-for="Password" required placeholder="Пароль" />
                        <span asp-validation-for="Password" />
                    </div>
                </div>
            </div>
            <div class="form-group p-1">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
    </div>

<style>
    
</style>